@model EntityLayer.Concrete.Writer
@{
    ViewBag.Title = "WriterProfile";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>Profili Düzenle</h2>
@using (Html.BeginForm("WriterProfile", "WriterPanel", FormMethod.Post))
{
    <div class="form-group">
        @*@Html.Label("Yazar ID: ")*@
        @Html.HiddenFor(x => x.WriterID, new { @class = "form-control" })
        <br />
        @Html.Label("Yazar Adı: ")
        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
        <div style="color:red">@Html.ValidationMessageFor(x => x.FirstName)</div>
        <br />
        @Html.Label("Yazar Soyadı: ")
        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.LastName)
        <br />
        @Html.Label("Unvan: ")
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Title)
        <br />
        @Html.Label("Mail Adresi: ")
        @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Mail)
        <br />
        @Html.Label("Şifre: ")
        @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Password)
        <br />
        @Html.Label("Profil Resmi: ")
        @Html.TextBoxFor(x => x.Image, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Image)
        <br />
        @Html.Label("Hakkımda: ")
        @Html.TextBoxFor(x => x.About, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.About)
        <br />
        <button class="btn btn-primary">Kaydet</button>
    </div>
}

